@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cairo";
}

header {
  width: 100%;
  height: 65vh;
  /* background-color: aqua; */
  overflow: hidden;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  height: 10vh;
  box-shadow: 0px 0 2px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar .logo {
  color: rgb(54, 130, 230);
  text-decoration: none;
  font-weight: 800;
  font-size: 25px;
  padding-left: 20vh;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  padding-right: 30vh;
}

.navbar .btn,
.btn {
  background-color: rgb(54, 130, 230);
  padding: 5px 13px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.navbar .btn {
  color: black;
  cursor: pointer;

}
.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(36, 36, 36);
  padding-right: 30px;
  font-weight: 600;
  /* transition: color .3s ease; */
}


header .contener {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 22vh;
}
header .contener h1 {
  font-size: 50px;
}

header .contener p {
  width: 500px;
  padding-left: 20px;
  text-align: center;
  line-height: 1.5;
  color: rgb(131, 129, 129);
}

header .contener div {
  /* background-color: red; */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
  margin-left: 30px;
  font-size: 14px;
}

header .contener div .btn2 {
  text-decoration: none;
  background-color: rgb(54, 130, 230);
  margin: 10px;
  padding: 7px 13px;
  border-radius: 5px;
  color: white;
  transition: transform 0.5s ease;
  cursor: pointer;
}

header .contener div .btn2:hover {
  transform: translateY(-2px);
}

header .contener div .primbtn {
  background-color: transparent;
  border: 2px solid rgb(54, 130, 230);
  padding: 5px 15px;
  color: rgb(54, 130, 230);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}
header .contener div .primbtn:hover {
  background-color: rgb(54, 130, 230);
  color: white;
}

main .sec1 {
  background-color: rgb(243, 244, 248);
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
main .sec1 h1 {
  padding-top: 40px;
  padding-bottom: 30px;
}
main .sec1 .boxsec1 {
  display: flex;
  flex-direction: row;
  
}

main .sec1 .boxsec1 div {
  background-color: white;
  margin-left: 20px;
  padding: 20px 10px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(138, 138, 138, 0.3);
  transition: transform 0.4s ease;
  /* transition: transform .3s ease; */
  
}

main .sec1 .boxsec1 div:hover {
  transform: translateY(-7px);
  box-shadow: 0px 2px 10px 0px rgba(138, 138, 138, 0.3);
  
}

main .sec1 .boxsec1 h1 {
  font-size: 20px;
}

main .sec1 .boxsec1 p {
  width: 200px;
  text-align: center;
  line-height: 1.5;
  padding-top: 10px;
  color: rgb(131, 129, 129);
}

main .sec1 .boxsec1 img{
  width: 60px;
  height: 60px;
}

/* main .sec1 .boxsec1 .spicImg{
  width: 80px;
  height: 80px;
} */
.sec2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150vh;
  overflow: hidden;
}

.sec2 .titSec2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.titSec2 button {
  margin-right: 30vh;
}

.titSec2 h1 {
  padding-left: 20vh;
  padding-bottom: 20px;
}

.sec2 .porBoxs {
  display: grid;
  gap: 30px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 350px 3500px;
  padding-left: 20vh;
}

.sec2 .products {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 2px 0px rgba(138, 138, 138, 0.3);
  transition: transform 0.4s ease;
  /* position:unset; */
}

.sec2 .products .img {
  background-color: rgb(216, 219, 221);
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec2 .products .img img{
  width: 80px;
  height: 80px;
}

.sec2 .products div {
  padding-left: 20px;
}

.sec2 .products div h1 {
  padding-top: 10px;
  font-size: 17px;
}

.sec2 .products div p {
  color: rgb(54, 130, 230);
}

.sec2 .products div button {
  width: 90%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px;
}

.pro-btn{
  text-decoration: none;
  margin-right: 10vh;
}

.sec2 .products:hover {
  transform: translateY(-7px);
  box-shadow: 0px 2px 10px 0px rgba(138, 138, 138, 0.3);
}

.sec3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 244, 248);
  height: 90vh;
}

.sec3 h1 {
  padding-bottom: 20px;
}

.sec3 form {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  background-color: white;
  border-radius: 7px;
  width: 77vh;
  height: 67vh;
  overflow: hidden;
  box-shadow: 0px 2px 2px 0px rgba(138, 138, 138, 0.3);
}

.sec3 form label {
  padding-left: 20px;
  padding-top: 15px;
}

.sec3 form input {
  width: 70vh;
  margin-left: 20px;
  background-color: azure;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 6vh;
}
.sec3 form button {
  width: 90%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px;
  margin-left: 23px;
  margin-top: 15px;
}

.sec3 form .message {
  height: 20vh;
}
 

footer {
  background-color: rgb(28, 28, 63);
  width: 100%;
  height: 50vh;
}
footer .foot {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 50px;
  padding-left: 200px;
  padding-top: 30px;
}

footer h1 {
  color: white;
  font-size: 20px;
  padding-bottom: 7px;
}

footer div ul li {
  list-style: none;
  color: rgb(99, 97, 97);
}

footer div ul li a {
  text-decoration: none;
  color: rgb(99, 97, 97);
}

footer p {
  color: rgb(99, 97, 97);
}

footer hr{
  width: 30%;
  margin: 30px 0 0 470px;
  text-align: center;
  color: rgb(92, 91, 91);
  opacity: 50%;
}

footer .par{
    padding: 20px 0 0 550px  ;
}