@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Cairo";
}

header {
  width: 100%;
  height: 15vh;
  /* background-color: aqua; */
  overflow: hidden;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;
  height: 10vh;
  box-shadow: 0px 0 2px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.navbar .logo {
  color: rgb(54, 130, 230);
  text-decoration: none;
  font-weight: 800;
  font-size: 25px;
  padding-left: 30vh;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  padding-right: 30vh;
}


.navbar .btn,
.btn {
  background-color: rgb(54, 130, 230);
  padding: 5px 13px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  color: white;
}
.navbar .btn {
  color: black;
}
.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(36, 36, 36);
  padding-right: 30px;
  font-weight: 600;
}

.navbar ul li  .productTit{
    font-weight: 900;
}





.sec2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300vh;
  overflow: hidden;
}


.titSec2 h1 {
  /* padding-left: 20vh; */
  padding-bottom: 10vh;
  color: black;
  text-align: center;
}

.sec2 .porBoxs {
  display: grid;
  gap: 30px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 350px 350px 350px 350px;
  padding-left: 40vh;
}

.sec2 .products {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 2px 0px rgba(138, 138, 138, 0.3);
  transition: transform 0.4s ease;
}

.sec2 .products .img {
  background-color: rgb(216, 219, 221);
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec2 .products .img img{
  width: 80px;
  height: 80px;
}

.sec2 .products div {
  padding-left: 20px;
}

.sec2 .products div h1 {
  padding-top: 10px;
  font-size: 17px;
}

.sec2 .products div p {
  color: rgb(54, 130, 230);
}

.sec2 .products div button {
  width: 90%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 7px;
}

.sec2 .products:hover {
  transform: translateY(-7px);
  box-shadow: 0px 2px 10px 0px rgba(138, 138, 138, 0.3);
}




footer {
  background-color: rgb(28, 28, 63);
  width: 100%;
  height: 50vh;
}
footer .foot {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  gap: 50px;
  padding-left: 200px;
  padding-top: 30px;
}

footer h1 {
  color: white;
  font-size: 20px;
  padding-bottom: 7px;
}

footer div ul li {
  list-style: none;
  color: rgb(99, 97, 97);
}

footer div ul li a {
  text-decoration: none;
  color: rgb(99, 97, 97);
}

footer p {
  color: rgb(99, 97, 97);
}

footer hr{
  width: 30%;
  margin: 30px 0 0 470px;
  text-align: center;
  color: rgb(92, 91, 91);
  opacity: 50%;
}

footer .par{
    padding: 20px 0 0 550px  ;
}